*{
  margin:0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #2b2b2b;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  /*navigation bar*/
  .navigation{ 
    background-color: #303030ba;
    position: fixed;
    padding-top:0.5%;
    padding-bottom: -1%;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 99;
  }

  .indexlink{   /*navigation text*/
    color: #ff0000;
    text-align: center;
    font-size: 125%;
    text-decoration: none;
  }
  .indexlink:visited{
    color: #ff0000;
  }
  .left{
    color: #ffffff;
    text-decoration: none;
    padding-left: 250px;
  }
  .right{
    color: #ffffff;
    text-decoration: none;
    padding-right: 250px;
  }
  


  .logo{ /*the boys logo*/
    margin-left: auto;
  
  }

  .img1{ /* the boys header image */
    width: 100%;
    margin-bottom: 10%;
    left: 0;
    box-shadow: 10px 10px 5px #0000007e;
  }

  .pic{ /* pic animated */
    position:absolute;
    z-index: 9;
    margin-left:-4%;
    margin-top:-60%;
    width: 30%; 
    animation: shake 1.9s;
    animation-iteration-count: infinite;
  }
    /* shake animation  */
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  
  .pic1{ /* pic animated */
    position:absolute;
    z-index: 9;
    margin-left:70%;
    margin-top:-62%;
    width: 30%; 
    animation: shake 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* character animation and description style (from line 113 to 242*/
.characterL1{
  padding-left:0.5%;
  position: absolute;
  width: 60%;
  z-index: -1;
  float: left;
}

.characterL2{
  padding-top: 13%;
  padding-left:0.5%;
  position: absolute;
  width: 60%;
  z-index: -1;
  float: left;
}

.characterL3{
  padding-top: 10%;
  padding-left:0.5%;
  position: absolute;
  width: 60%;
  z-index: -1;
  float: left;
}




.textL1{
  color: #ffffff;
  font-size:40px;
  float: left;
  z-index: 1;
  text-align: left;
  padding-right: 61%;
  padding-left: 1%;
  padding-top: 15%;
}

.textL2{
  color: #ffffff;
  font-size:40px;
  float: left;
  z-index: 1;
  text-align: left;
  padding-right: 61%;
  padding-left: 1%;
  padding-top: 15%;
}

.textL3{
  color: #ffffff;
  font-size:40px;
  float: left;
  z-index: 1;
  text-align: left;
  padding-right: 61%;
  padding-left: 1%;
  padding-top: 15%;
}








.textR1{
  color: #ffffff;
  font-size:40px;
  float: right;
  z-index: 1;
  text-align: left;
  padding-left: 61%;
  padding-right: 1%;
  padding-top: 5%;
}

.textR2{
  color: #ffffff;
  font-size:40px;
  float: right;
  z-index: 1;
  text-align: left;
  padding-left: 61%;
  padding-right: 1%;
  padding-top: 17%;
}
.textR3{
  color: #ffffff;
  font-size:40px;
  float: right;
  z-index: 1;
  text-align: left;
  padding-left: 61%;
  padding-right: 1%;
  padding-top: 15%;
}

.characterR1{
  padding-top:10%;
  padding-left: 39.5%;
  position: absolute;
  width: 60%;
  z-index: -1;
  float: right;
  margin-right:-100%;
}

.characterR2{
  padding-top:10%;
  padding-left: 39.5%;
  position: absolute;
  width: 60%;
  z-index: -1;
  float: right;
  margin-right:-100%;
}

.characterR3{
  padding-top:8%;
  padding-left: 39.5%;
  position: absolute;
  width: 60%;
  z-index: -1;
  float: right;
  margin-right:-100%;
}



/* button style */
.button{
  position: relative;
  border-radius: 20px;  
  padding: 1%;
  box-shadow: 2px 2px #000000;   
  background-color: #c2c2c2;
  transition:0.5s;
  cursor: pointer;
}
.button:hover{
  background-color: #414678;
}

h5{
  color: #f73428;
  font-size: 200%;
}

.btn1{
  margin-left: 73%;
  margin-top: 2%;
  padding-right:-100%;
}
.btn2{
  margin-left: 13%;
  margin-top: 3%;

}
.btn3{
  margin-left: 73%;
  margin-top: 1%;
  padding-right:-100%;
}
.btn4{
  margin-left: 13%;
  margin-top: 1%;
}
.btn5{
  margin-left: 73%;
  margin-top: 0%;
  padding-right:-100%;
}
.btn6{
  margin-left: 13%;
  margin-top: 3%;
}